.App {
  text-align: center;
}
.playlist-top{
  display: flex;
  padding: 2%;
}

.playlist-songs{
  /*display: flex;*/
  padding: 2%;
}

.playlist-image{
  flex:40%;
}

.playlist-metadata{
  flex:60%;
  text-align: left;
}

.row {
  display: flex;
  background-color: lightgray;
  margin:2%;
}

.column {
  flex: 1 1 0;
  /*border: 1px solid black;*/
  padding: 10px;
}

.playlist-metadata-buttons{
  display: flex;
}
.playlist-metadata-buttons button{
  margin-right: 5%;
}

.recommendation-section > div{
  margin: 2%;
}
.recommendations{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.recommended-song{
  display: flex;
  padding: 2%;
}

.popup-form{
  display: flex;
  text-align: left;
  justify-content: space-evenly;
}